<a href="https://colab.research.google.com/github/gurusakharwade/DB/blob/main/A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets

In [ ]:
dataset = datasets.load_iris()
dataset.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [ ]:
df = pd.DataFrame(np.column_stack((dataset.data, dataset.target)), columns = dataset.feature_names+['target'])
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [ ]:
df['type'] = df.target.replace(dict(enumerate(dataset.target_names)))
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [ ]:
from sklearn.model_selection import train_test_split
x = df.iloc[:, :4].values
y = df['type'].values

xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.20, random_state = 100)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
xtrain = sc.fit_transform(xtrain)
xtest = sc.transform(xtest)

In [ ]:
from sklearn.naive_bayes import GaussianNB
nvclassifier = GaussianNB()
nvclassifier.fit(xtrain, ytrain)

ypred = nvclassifier.predict(xtest)
ypred

array(['virginica', 'setosa', 'virginica', 'setosa', 'virginica',
       'virginica', 'setosa', 'setosa', 'virginica', 'setosa', 'setosa',
       'virginica', 'setosa', 'setosa', 'virginica', 'versicolor',
       'versicolor', 'virginica', 'virginica', 'virginica', 'virginica',
       'setosa', 'virginica', 'setosa', 'versicolor', 'virginica',
       'versicolor', 'setosa', 'versicolor', 'virginica'], dtype='<U10')

In [ ]:
#Comparing actual vs. prediction
y_compare = np.vstack((ytest, ypred))
y_compare

array([['virginica', 'setosa', 'virginica', 'setosa', 'virginica',
        'virginica', 'setosa', 'setosa', 'virginica', 'setosa', 'setosa',
        'virginica', 'setosa', 'setosa', 'virginica', 'versicolor',
        'versicolor', 'versicolor', 'virginica', 'virginica',
        'virginica', 'setosa', 'virginica', 'setosa', 'versicolor',
        'virginica', 'versicolor', 'setosa', 'versicolor', 'virginica'],
       ['virginica', 'setosa', 'virginica', 'setosa', 'virginica',
        'virginica', 'setosa', 'setosa', 'virginica', 'setosa', 'setosa',
        'virginica', 'setosa', 'setosa', 'virginica', 'versicolor',
        'versicolor', 'virginica', 'virginica', 'virginica', 'virginica',
        'setosa', 'virginica', 'setosa', 'versicolor', 'virginica',
        'versicolor', 'setosa', 'versicolor', 'virginica']], dtype=object)

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(ytest, ypred)
cm

array([[11,  0,  0],
       [ 0,  5,  1],
       [ 0,  0, 13]])

In [ ]:
a = cm.shape
corrPred = 0
falsePred = 0

for row in range(a[0]):
  for c in range(a[1]):
    if row == c: corrPred += cm[row, c]
    else: falsePred += cm[row, c]

print('Correct prediction: ', corrPred)
print('False predictions', falsePred)
print('\n Accuracy of the Naive Bayes Classification is: ', corrPred/(cm.sum()))

Correct prediction:  29
False predictions 1

 Accuracy of the Naive Bayes Classification is:  0.9666666666666667